button{
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Secular One', sans-serif;
}
body{
    color: #2C3333;
    margin: 0px;
    font-family: 'Advent Pro', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Secular One', sans-serif;
}
header{
    background-color: #2C3333;
    text-align: center;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #E7F6F2;
}
header img{
    width: 60px;
    margin-right: 20px;
}
.container{
    min-height: 100vh;
    background-color: black;
    display: flex;  
}

.projects{
background-color: #A5C9CA;
   

   display: flex;
   flex-direction: column;
   
}
.projects .title{
    margin: 20px;
    font-size: 40px;
    text-align: center;
}
.projects ul{
   padding: 0px;
} 
.projects li{
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    transition: background-color 0.3s ease-out 0.3ms
}
.projects img{
    margin-left: 10px;
    filter: invert(87%) sepia(11%) saturate(473%) hue-rotate(133deg) brightness(87%) contrast(94%);
    transition: transform .2s;
}
.projects img:hover{
    transform: scale(1.2); 
    filter: invert(97%) sepia(3%) saturate(837%) hue-rotate(92deg) brightness(104%) contrast(93%);
}
.projects li:hover{
    background-color: #395B64;
    cursor: pointer;
    color: #E7F6F2;
}
.projects .active{
    background-color: #395B64;
    border-left-style: solid;
    border-left-color: #2C3333;
    padding-left: 30px;
    border-width: 10px;
    color: #E7F6F2;
}
.projects li img{
    height: 30px;
}
#add{
    margin: 40px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-out 0.2ms;
    border-radius: 5px;
}
#add:hover{
    background-color: #395B64;
    color: #E7F6F2;
}



.todos{
    background-color:#E7F6F2;
    flex-grow: 5;
    
}
.todos img{
    width: 40px;
    filter: invert(31%) sepia(30%) saturate(488%) hue-rotate(146deg) brightness(94%) contrast(91%);
    transition: transform .3s ease-in-out;
}
.todos img:hover {
    cursor: pointer;
    filter: invert(14%) sepia(17%) saturate(346%) hue-rotate(132deg) brightness(104%) contrast(87%);
    transform: scale(1.2); 
  }
.todos .title{
    font-size: 30px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-item{
    margin: 40px;
    padding: 20px;
    background-color: #A5C9CA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details,.deleteBtn{
    margin-left: 50px;
    
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-out 0.2ms;
    border-radius: 5px;
    background-color: #E7F6F2;
}
.details:hover,.deleteBtn:hover{
    background-color: #2C3333;
    color: #E7F6F2;
}

/* copyrights */
footer{
    background-color: #2C3333;
    color: #E7F6F2;
    height: 40px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
footer img{
    height: 30px;
    transition: transform .3s ease-in-out;
}
footer img:hover{
    cursor: pointer;
    transform: scale(1.2); 
}